In [1]:
import pandas as pd
import numpy as np

In [19]:
beers = {
    'name':['coors','bud','natural light','keystone ice',
            'sierra nevada', 'sam adams', 'rolling rock',
            'odouls',
            'pbr','stella','chimay','magnolia','21amendment'],
    'class':['crap','crap','crap','crap',
             'mid','mid','mid',
             'notabeer',
             'pretentious','pretentious','pretentious','pretentious','pretentious']
}
beers['price'] = np.concatenate([np.array([1.5, 1.7, 1.2, 1.2]),
                                np.array([2., 1.9, 2.1]),
                                np.array([3.]),
                                np.array([0.5,3.5, 10., 15.,2.])])
beers['rating'] = np.random.normal(5, 2, size=13)

for k, v in beers.items():
    print k, len(v)
beers = pd.DataFrame(beers)
beers

rating 13
price 13
name 13
class 13

          class           name  price    rating
0          crap          coors    1.5  3.251746
1          crap            bud    1.7  7.053655
2          crap  natural light    1.2  5.711367
3          crap   keystone ice    1.2  7.420232
4           mid  sierra nevada    2.0  4.666245
5           mid      sam adams    1.9  3.780572
6           mid   rolling rock    2.1  4.930330
7      notabeer         odouls    3.0  6.075566
8   pretentious            pbr    0.5  6.820391
9   pretentious         stella    3.5  5.617917
10  pretentious         chimay   10.0  8.583392
11  pretentious       magnolia   15.0  3.828258
12  pretentious    21amendment    2.0  8.168663

In [23]:
beers_long = pd.melt(beers, id_vars = ['name'])
beers_long.sort_values('name',axis=0)

             name variable        value
38    21amendment   rating      8.16866
25    21amendment    price            2
12    21amendment    class  pretentious
1             bud    class         crap
27            bud   rating      7.05365
14            bud    price          1.7
36         chimay   rating      8.58339
23         chimay    price           10
10         chimay    class  pretentious
26          coors   rating      3.25175
13          coors    price          1.5
0           coors    class         crap
16   keystone ice    price          1.2
29   keystone ice   rating      7.42023
3    keystone ice    class         crap
37       magnolia   rating      3.82826
24       magnolia    price           15
11       magnolia    class  pretentious
15  natural light    price          1.2
2   natural light    class         crap
28  natural light   rating      5.71137
7          odouls    class     notabeer
20         odouls    price            3
33         odouls   rating      6.07557
21            pbr    price          0.5
8             pbr    class  pretentious
34            pbr   rating      6.82039
19   rolling rock    price          2.1
6    rolling rock    class          mid
32   rolling rock   rating      4.93033
31      sam adams   rating      3.78057
5       sam adams    class          mid
18      sam adams    price          1.9
4   sierra nevada    class          mid
17  sierra nevada    price            2
30  sierra nevada   rating      4.66624
22         stella    price          3.5
35         stella   rating      5.61792
9          stella    class  pretentious

In [29]:
beer_class_summary = pd.pivot_table(beers
                                    , index='class'
                                    , values =['rating','price']
                                    , aggfunc = [len, np.mean,np.std]
                                   )
print beer_class_summary

              len         mean                 std
            price rating price    rating     price    rating
class
crap          4.0    4.0   1.4  5.859250  0.244949  1.887169
mid           3.0    3.0   2.0  4.459049  0.100000  0.602232
notabeer      1.0    1.0   3.0  6.075566       NaN       NaN
pretentious   5.0    5.0   6.2  6.603724  6.109419  1.942298

In [31]:
beers_long.head(3)

            name variable value
0          coors    class  crap
1            bud    class  crap
2  natural light    class  crap

In [41]:
def first_item(series):
    return series.iloc[0]

new_beers_wide = pd.pivot_table(beers_long
                                , index = 'name'
                                , values = 'value'
                                , columns=['variable']
                                , aggfunc=first_item
                               )
new_beers_wide

variable             class price   rating
name
21amendment    pretentious     2  8.16866
bud                   crap   1.7  7.05365
chimay         pretentious    10  8.58339
coors                 crap   1.5  3.25175
keystone ice          crap   1.2  7.42023
magnolia       pretentious    15  3.82826
natural light         crap   1.2  5.71137
odouls            notabeer     3  6.07557
pbr            pretentious   0.5  6.82039
rolling rock           mid   2.1  4.93033
sam adams              mid   1.9  3.78057
sierra nevada          mid     2  4.66624
stella         pretentious   3.5  5.61792

In [44]:
# note - no index

new_beers_wide.loc['21amendment',['price','class']]

variable
price              2
class    pretentious
Name: 21amendment, dtype: object

In [45]:
new_beers_wide.reset_index()
new_beers_wide

variable             class price   rating
name
21amendment    pretentious     2  8.16866
bud                   crap   1.7  7.05365
chimay         pretentious    10  8.58339
coors                 crap   1.5  3.25175
keystone ice          crap   1.2  7.42023
magnolia       pretentious    15  3.82826
natural light         crap   1.2  5.71137
odouls            notabeer     3  6.07557
pbr            pretentious   0.5  6.82039
rolling rock           mid   2.1  4.93033
sam adams              mid   1.9  3.78057
sierra nevada          mid     2  4.66624
stella         pretentious   3.5  5.61792