# SQL Lab

In this lab we will learn how to use execute SQL from the ipython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/) that we used in Lesson 3.1.

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [1]:
# !pip install ipython-sql

Let's see if it works:

In [2]:
%load_ext sql

/Users/tlee010/anaconda/envs/dsi/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/tlee010/anaconda/envs/dsi/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

Nice!!! We can now go ahead with the lab!

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 1: Inspect the database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically

In [18]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
select * FROM information_schema.tables where "table_schema" = 'public' order by "table_name" asc

18 rows affected.

[(u'northwind', u'public', u'categories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customercustomerdemo', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customerdemographics', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'employees', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'employeeterritories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'movies', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'order_details', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'orders', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'products', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'ratings', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'region', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'shippers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'shippers_tmp', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'suppliers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'table1', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'territories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'usstates', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None)]

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [21]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
select table_catalog, table_schema, table_name, column_name, data_type 
FROM INFORMATION_SCHEMA.COLUMNS where "table_schema" = 'public'
order by column_name asc

114 rows affected.

[(u'northwind', u'public', u'ratings', u'0', u'text'),
 (u'northwind', u'public', u'customers', u'Address', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'Address', u'character varying'),
 (u'northwind', u'public', u'employees', u'Address', u'character varying'),
 (u'northwind', u'public', u'employees', u'BirthDate', u'date'),
 (u'northwind', u'public', u'products', u'CategoryID', u'smallint'),
 (u'northwind', u'public', u'categories', u'CategoryID', u'smallint'),
 (u'northwind', u'public', u'categories', u'CategoryName', u'character varying'),
 (u'northwind', u'public', u'customers', u'City', u'character varying'),
 (u'northwind', u'public', u'employees', u'City', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'City', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'CompanyName', u'character varying'),
 (u'northwind', u'public', u'customers', u'CompanyName', u'character varying'),
 (u'northwind', u'public', u'shippers', u'CompanyName', u'character varying'),
 (u'northwind', u'public', u'shippers_tmp', u'CompanyName', u'character varying'),
 (u'northwind', u'public', u'customers', u'ContactName', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'ContactName', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'ContactTitle', u'character varying'),
 (u'northwind', u'public', u'customers', u'ContactTitle', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'Country', u'character varying'),
 (u'northwind', u'public', u'employees', u'Country', u'character varying'),
 (u'northwind', u'public', u'customers', u'Country', u'character varying'),
 (u'northwind', u'public', u'customerdemographics', u'CustomerDesc', u'text'),
 (u'northwind', u'public', u'orders', u'CustomerID', u'character'),
 (u'northwind', u'public', u'customers', u'CustomerID', u'character'),
 (u'northwind', u'public', u'customercustomerdemo', u'CustomerID', u'character'),
 (u'northwind', u'public', u'customerdemographics', u'CustomerTypeID', u'character'),
 (u'northwind', u'public', u'customercustomerdemo', u'CustomerTypeID', u'character'),
 (u'northwind', u'public', u'categories', u'Description', u'text'),
 (u'northwind', u'public', u'products', u'Discontinued', u'integer'),
 (u'northwind', u'public', u'order_details', u'Discount', u'real'),
 (u'northwind', u'public', u'employees', u'EmployeeID', u'smallint'),
 (u'northwind', u'public', u'employeeterritories', u'EmployeeID', u'smallint'),
 (u'northwind', u'public', u'orders', u'EmployeeID', u'smallint'),
 (u'northwind', u'public', u'employees', u'Extension', u'character varying'),
 (u'northwind', u'public', u'customers', u'Fax', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'Fax', u'character varying'),
 (u'northwind', u'public', u'employees', u'FirstName', u'character varying'),
 (u'northwind', u'public', u'orders', u'Freight', u'real'),
 (u'northwind', u'public', u'movies', u'genre', u'text'),
 (u'northwind', u'public', u'table1', u'genre', u'character'),
 (u'northwind', u'public', u'employees', u'HireDate', u'date'),
 (u'northwind', u'public', u'suppliers', u'HomePage', u'text'),
 (u'northwind', u'public', u'employees', u'HomePhone', u'character varying'),
 (u'northwind', u'public', u'movies', u'index', u'bigint'),
 (u'northwind', u'public', u'ratings', u'index', u'bigint'),
 (u'northwind', u'public', u'employees', u'LastName', u'character varying'),
 (u'northwind', u'public', u'ratings', u'movie', u'text'),
 (u'northwind', u'public', u'employees', u'Notes', u'text'),
 (u'northwind', u'public', u'table1', u'num_votes', u'character varying'),
 (u'northwind', u'public', u'movies', u'num_votes', u'bigint'),
 (u'northwind', u'public', u'orders', u'OrderDate', u'date'),
 (u'northwind', u'public', u'orders', u'OrderID', u'smallint'),
 (u'northwind', u'public', u'order_details', u'OrderID', u'smallint'),
 (u'northwind', u'public', u'suppliers', u'Phone', u'character varying'),
 (u'northwind', u'public', u'customers', u'Phone', u'character varying'),
 (u'northwind', u'public', u'shippers', u'Phone', u'character varying'),
 (u'northwind', u'public', u'shippers_tmp', u'Phone', u'character varying'),
 (u'northwind', u'public', u'employees', u'Photo', u'bytea'),
 (u'northwind', u'public', u'employees', u'PhotoPath', u'character varying'),
 (u'northwind', u'public', u'categories', u'Picture', u'bytea'),
 (u'northwind', u'public', u'employees', u'PostalCode', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'PostalCode', u'character varying'),
 (u'northwind', u'public', u'customers', u'PostalCode', u'character varying'),
 (u'northwind', u'public', u'order_details', u'ProductID', u'smallint'),
 (u'northwind', u'public', u'products', u'ProductID', u'smallint'),
 (u'northwind', u'public', u'products', u'ProductName', u'character varying'),
 (u'northwind', u'public', u'order_details', u'Quantity', u'smallint'),
 (u'northwind', u'public', u'products', u'QuantityPerUnit', u'character varying'),
 (u'northwind', u'public', u'movies', u'rating', u'double precision'),
 (u'northwind', u'public', u'table1', u'rating', u'character varying'),
 (u'northwind', u'public', u'ratings', u'ratings', u'text'),
 (u'northwind', u'public', u'customers', u'Region', u'character varying'),
 (u'northwind', u'public', u'suppliers', u'Region', u'character varying'),
 (u'northwind', u'public', u'employees', u'Region', u'character varying'),
 (u'northwind', u'public', u'region', u'RegionDescription', u'character'),
 (u'northwind', u'public', u'region', u'RegionID', u'smallint'),
 (u'northwind', u'public', u'territories', u'RegionID', u'smallint'),
 (u'northwind', u'public', u'products', u'ReorderLevel', u'smallint'),
 (u'northwind', u'public', u'employees', u'ReportsTo', u'smallint'),
 (u'northwind', u'public', u'orders', u'RequiredDate', u'date'),
 (u'northwind', u'public', u'table1', u'runtime', u'character varying'),
 (u'northwind', u'public', u'movies', u'runtime', u'double precision'),
 (u'northwind', u'public', u'orders', u'ShipAddress', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShipCity', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShipCountry', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShipName', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShippedDate', u'date'),
 (u'northwind', u'public', u'shippers_tmp', u'ShipperID', u'smallint'),
 (u'northwind', u'public', u'shippers', u'ShipperID', u'smallint'),
 (u'northwind', u'public', u'orders', u'ShipPostalCode', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShipRegion', u'character varying'),
 (u'northwind', u'public', u'orders', u'ShipVia', u'smallint'),
 (u'northwind', u'public', u'usstates', u'StateAbbr', u'character varying'),
 (u'northwind', u'public', u'usstates', u'StateID', u'smallint'),
 (u'northwind', u'public', u'usstates', u'StateName', u'character varying'),
 (u'northwind', u'public', u'usstates', u'StateRegion', u'character varying'),
 (u'northwind', u'public', u'products', u'SupplierID', u'smallint'),
 (u'northwind', u'public', u'suppliers', u'SupplierID', u'smallint'),
 (u'northwind', u'public', u'table1', u'tconst', u'character'),
 (u'northwind', u'public', u'movies', u'tconst', u'text'),
 (u'northwind', u'public', u'territories', u'TerritoryDescription', u'character'),
 (u'northwind', u'public', u'territories', u'TerritoryID', u'character varying'),
 (u'northwind', u'public', u'employeeterritories', u'TerritoryID', u'character varying'),
 (u'northwind', u'public', u'table1', u'title', u'character'),
 (u'northwind', u'public', u'movies', u'title', u'text'),
 (u'northwind', u'public', u'employees', u'Title', u'character varying'),
 (u'northwind', u'public', u'employees', u'TitleOfCourtesy', u'character varying'),
 (u'northwind', u'public', u'order_details', u'UnitPrice', u'real'),
 (u'northwind', u'public', u'products', u'UnitPrice', u'real'),
 (u'northwind', u'public', u'products', u'UnitsInStock', u'smallint'),
 (u'northwind', u'public', u'products', u'UnitsOnOrder', u'smallint'),
 (u'northwind', u'public', u'movies', u'year', u'text'),
 (u'northwind', u'public', u'table1', u'year', u'character varying')]

### 1.c: Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

In [11]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
select * FROM orders limit 5

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

In [10]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
select * FROM products limit 5

5 rows affected.

[(1, u'Chai', 8, 1, u'10 boxes x 30 bags', 18.0, 39, 0, 10, 1),
 (2, u'Chang', 1, 1, u'24 - 12 oz bottles', 19.0, 17, 40, 25, 1),
 (3, u'Aniseed Syrup', 1, 2, u'12 - 550 ml bottles', 10.0, 13, 70, 25, 0),
 (4, u"Chef Anton's Cajun Seasoning", 2, 2, u'48 - 6 oz jars', 22.0, 53, 0, 0, 0),
 (5, u"Chef Anton's Gumbo Mix", 2, 2, u'36 boxes', 21.35, 0, 0, 0, 1)]

In [9]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
select * FROM usstates limit 5

5 rows affected.

[(1, u'Alabama', u'AL', u'south'),
 (2, u'Alaska', u'AK', u'north'),
 (3, u'Arizona', u'AZ', u'west'),
 (4, u'Arkansas', u'AR', u'south'),
 (5, u'California', u'CA', u'west')]

In [43]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind')

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

Use a combination of SQL queries and Pandas merge to answer the following questions:

- What categories of products is the company selling?
- How many products per category does the catalog contain?
- Let's focus only on products that have not been discontinued => how many products per category?
- What are the most expensive 5 products (not discontinued)?
- How many units of each of these 5 products are there in stock?
- Draw a pie chart of the categories, with slices that have the size of the number of products in that category (use non discontinued products)

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [47]:
sql ='''
select "CategoryID","CategoryName" FROM categories
'''
catdf = pd.read_sql(sql,con=engine)
catdf

   CategoryID    CategoryName
0           1       Beverages
1           2      Condiments
2           3     Confections
3           4  Dairy Products
4           5  Grains/Cereals
5           6    Meat/Poultry
6           7         Produce
7           8         Seafood

### 2.b: How many products per category does the catalog contain?

Keep in mind that you can cast a %sql result to a pandas dataframe using the `.DataFrame()` method.

In [48]:
sql ='''
select "CategoryID" , count(1)
FROM products
group by "CategoryID"
'''
proddf =pd.read_sql(sql,con=engine)
proddf.merge(catdf, on='CategoryID', how='left')

   CategoryID  count    CategoryName
0           6      6    Meat/Poultry
1           4     10  Dairy Products
2           8     12         Seafood
3           5      7  Grains/Cereals
4           1     12       Beverages
5           2     12      Condiments
6           7      5         Produce
7           3     13     Confections

### 2.c: How many not discontinued products per category?

In [49]:
sql ='''
select "CategoryID", count(1)
FROM products
where "Discontinued" = 0
group by "CategoryID"
'''
df2c = pd.read_sql(sql,con=engine)
df2c.merge(catdf, on ='CategoryID', how='left')

   CategoryID  count    CategoryName
0           6      2    Meat/Poultry
1           4     10  Dairy Products
2           8     12         Seafood
3           5      6  Grains/Cereals
4           2     11      Condiments
5           1      9       Beverages
6           7      4         Produce
7           3     13     Confections

### 2.d: What are the most expensive 5 products (not discontinued)?

In [53]:
sql = '''
select "ProductID","ProductName","UnitPrice","Discontinued" FROM products 
where "Discontinued" = 0
order by "UnitPrice" desc
limit 5
'''
pd.read_sql(sql,con=engine)

   ProductID             ProductName  UnitPrice  Discontinued
0         38           Côte de Blaye      263.5             0
1         20  Sir Rodney's Marmalade       81.0             0
2         18        Carnarvon Tigers       62.5             0
3         59    Raclette Courdavault       55.0             0
4         51   Manjimup Dried Apples       53.0             0

### 2.e: How many units of each of these 5 products are there in stock?

In [55]:
sql ='''
select "ProductID","ProductName","UnitsInStock", "Discontinued" FROM products 
where "Discontinued" = 0
order by "UnitPrice" desc
limit 5
'''
pd.read_sql(sql,con=engine)

   ProductID             ProductName  UnitsInStock  Discontinued
0         38           Côte de Blaye            17             0
1         20  Sir Rodney's Marmalade            40             0
2         18        Carnarvon Tigers            42             0
3         59    Raclette Courdavault            79             0
4         51   Manjimup Dried Apples            20             0

### 2.f: Pie Chart

Use pandas to make a pie chart plot.

In [ ]:
#no
select

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

- How many orders in total?
- How many orders per year
- How many orders per quarter
- Which country is receiving the most orders
- Which country is receiving the least
- What's the average shipping time (ShippedDate - OrderDate)
- What customer is submitting the highest number of orders?
- What customer is generating the highest revenue (need to pd.merge with order_details)
- What fraction of the revenue is generated by the top 5 customers?

### 3.a: How many orders in total?

### 3.b: How many orders per year?

### 3.c: How many orders per quarter?

Make a line plot for these.

### 3.d: Which country is receiving the most orders?

### 3.e: Which country is receiving the least?

### 3.f: What's the average shipping time (ShippedDate - OrderDate)?

### 3.g: What customer is submitting the highest number of orders?

### 3.h: What customer is generating the highest revenue (need to pd.merge with order_details)?

### 3.i: What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

Wow!! 5.5% of the customers generate a third of the revenue!!

## Bonus: Other tables

Investigate the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.